<%- include("../../views/partials/admin/header") %>

<div class="container mt-4">
    <h1>All Orders</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Status</th>
                <th>Total Price</th>
                <th>View Details</th>
            </tr>
        </thead>
        <tbody>
            <% orders.forEach(order => { %>
                <tr>
                    <td><%= order.orderId %></td>
                    <td><%= order.status %></td>
                    <td>₹<%= order.totalprice %></td>
                    <td>
                        <a href="/admin/orders/<%= order._id %>" class="btn btn-primary">View Details</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include("../../views/partials/admin/footer") %>
